//- Loads app/jade/layouts/default
include layouts/default
	block extend content
		-var height = 2500;
		-var panels = 5;
		div#main(style='height: #{height}px')
			header.header v0.0.1 -- Initial Functionality Test.
			.video-bg
				video(autobuffer, poster='/images/video-bg-poster.png')
					source(src='/videos/video-bg.mp4', type='video/mp4')
			-for(var i = 0; i < panels; i++)
				.thread-spot(
					id='ts-#{i}',
					style='top: #{(height / panels) * i}px; left: 150px')
						##{i}
